.nv-file-over {
  box-shadow: inset #7dce88 0px 0px 5px 1px;
}

input[type="file"] {
  color: transparent;
}

.image-container {
  position: relative;
  width: 200px;
}

.approval-text {
  position: absolute;
  top: 35%;
  right: 5%;
  background-color: rgba(0, 0, 0, 0.44);
  transform: rotate(-0.1turn);
  padding: 0 11%;
  font-weight: 700;
}